APP_USER=dev
APP_ENVIRONMENT="local"
APP_PORT=80
APP_URL=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=homestead
DB_PASSWORD=secret

DATABASE_URL="database/db.sqlite"